.list__item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	border-bottom: 1px #ddd solid;
	margin-bottom: 10px;
	padding: 5px;
	word-break: break-word;
	align-items: center;
}

.list__text {
	text-decoration: line-through;
	text-align: justify;
}

.list__button {
	border: none;
	cursor: pointer;
	color: white;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	padding: 1px;
	transition: 0.4s;
}

.list__button--done {
	background-color: hsl(120, 100%, 25%);
}

.list__button--done:hover {
	background-color: hsl(120, 100%, 35%);
}

.list__button--done:active {
	background-color: hsl(120, 100%, 40%);
}

.list__button--remove {
	background-color: hsl(0, 100%, 50%);
}

.list__button--remove:hover {
	background-color: hsl(0, 100%, 60%);
}

.list__button--remove:active {
	background-color: hsl(0, 100%, 65%);
}

.list__item--hide {
	display: none;
}
